/IoTBay-master/ISD_Assignment1/build/
/IoTBay-master/ISD_Assignment1/dist/
/IoTBay-master/ISD_Assignment1/nbproject/private/
/IoTBay-master/ISD_Assignment2/build/
/IoTBay-master/ISD_Assignment2/dist/
/IoTBay-master/ISD_Assignment2/nbproject/private/